* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: bisque;
}
.music {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.playlist {
  height: 35px;
  width: 180px;
  background-color: gray;
}
.playbutton {
  height: 50px;
  width: 200px;
  background-color: aliceblue;
  position: relative;
  display: flex;
  align-items: center;
}
.buttons {
  /* position: absolute; */
  display: flex;
  justify-content: space-evenly;
  margin-left: 90px;
  gap: 5px;
}

.pic {
  margin-left: 15px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: aquamarine;
  position: absolute;
  top: -15px;
}
button {
  border-style: hidden;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* .fa-pause {
  display: none;
} */
